<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h3>Editing Student</h3>

    <%= render 'form' %>
    <div class="pull-right">
      <%= link_to 'Show', @student, {class: 'btn btn-primary'} %>
      <%= link_to 'Back', students_path, {class: 'btn btn-default'}%>
    </div>

  </div>
</div>